@inherits WebViewPage<pear.web.Controllers.HomeIndexViewModel>

<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <div>Running in <span id="@Html.IdFor(m => m.Environment)">@Html.DisplayTextFor(m=>m.Environment)</span> mode</div>
        
    </body>
</html>